p{
    color : red
}

body{
    background-color: rgb(14, 14, 80);
}

.image{
    width : 20vw;
    border-radius : 5vw;
}

.imageretour{
    width : 2vw;
    border-radius : 1vw;
}

.lien{
    position: fixed;
    left: 20vw;
    top: 20vw;
}

.lien2{
    position: fixed;
    left: 60vw;
    top: 20vw;
}

.retouraccueil{
    position: fixed;
    left: 2vw;
    top: 2vw;
}

input{
    color : white
}

.bouton{
    color : green
}