@font-face {
    font-family: 'octo';
    src:
    url("../police/tenbyfive/tenby-five.otf") format("truetype");
  }

div{
    font-family: 'octo';
    font-size: 4vw;
}

p{
    font-family: 'octo';
    color : red
}

body{
    background-color: rgb(14, 14, 80);
}

.cards{
    background-color: lightskyblue;
    border-radius: 3vw;
    width: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgcards{
    width : 15vw;
    height : 15vw;
    border-radius: 3vw;
}

.image{
    width : 20vw;
    border-radius : 5vw;
}

.imageretour{
    width :4.5vw;
    border-radius : 1.6vw;
    transform: rotate(270deg);
}

.lien{
    position: fixed;
    left: 20vw;
    top: 20vw;
}

.lien2{
    position: fixed;
    left: 60vw;
    top: 20vw;
}

.retouraccueil{
    position: fixed;
    left: 1vw;
    top: 1vw;
}

input{
    color : white;
}

.bouton{
    color : green;
}

.titre{
    width: 99vw;
    color : lightskyblue;
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}