<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galerie</title>
    <!-- appel des fichiers css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
    <a class="retouraccueil" href="/">
        <img class="imageretour" 
             src="{{url_for('static', filename='img/galerie.jpg')}}" 
             alt="bouton retour à l'accueil">
    </a>
    
    <!-- boucle qui parcourt liste_pokemons transmis par le render_template() -->
    {% for pokemon in liste_pokemons %}
        <p> {{ pokemon.nom_pokemon }} </p>
        <img src="{{url_for('static', filename=pokemon.image_pokemon)}}" alt="Voici le nom de l'image : {{image_pokemon}}"> <!-- affiche l'image -->
        <p> {{ pokemon.description_pokemon }} </p>
    {% endfor %}
</body>
</html>