<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <!-- appelation des fichiers css -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<p> text </p>

<p> deuxieme text</p>

<a class="new" href="new_personnage"><img class="../static/ajoutcards.jpg" src='../images/new_personnage' alt='bouton nouveau personnage'></a>

<p> troisiseme texte</p>

</body>
</html>


