<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <!-- appelation des fichiers css -->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<a class="lien" href="galerie"><img class="image" src='../static/galerie.jpg' alt='bouton galerie pokemon'></a>
<a class="lien2" href="new_personnage"><img class="image" src='../static/ajoutcards.jpg' alt='bouton nouveau personnage'></a>

</body>
</html>


